.pointer{
	cursor:pointer;
}
.zbase-widget-wrapper-datatable table > tbody tr:nth-child(even){
	background: #D9EDF7;
}
.zbase-widget-wrapper-datatable table > tbody tr:hover{
	background: #DFF0D8;
}
.form-group.has-error select,
.form-group.has-error textarea,
.form-group.has-error input{
	border-color:maroon !important;
}
.zbase-ui-wrapperzbase-ui-wrapper-pageHeader{
	border-bottom:2px solid gray;
	margin-bottom: 20px;
}
.zbase-datatable-row-toggle-copy-wrapper{
	padding:20px;
	border:1px dotted gray;
	margin: 0px;
}
.zbase-datatable-row-toggle-copy{
	background-color: white !important;
}
.zbase-datatable-row-toggle-hover{
	background-color: white !important;
}


/* Responsive CSS Document */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

}

/* 1280px */
@media only screen and (max-width: 1189px) {

}

/* 1024px */
@media only screen and (max-width: 1024px) {

}


/* 960px */
@media only screen and (max-width: 960px) {

}

/* 800px */
@media only screen and (max-width: 959px) {

}

/* 750px */
@media only screen and (max-width: 799px) {

}

/* 720px */
@media only screen and (max-width: 749px) {

}

/* 640px */
@media only screen and (max-width: 719px) {


}

/* 540px */
@media only screen and (max-width: 639px) {

}

/* 480px */
@media only screen and (max-width: 539px) {

}

/* 320px */
@media only screen and (max-width: 479px) {

}

/* 375px */
@media only screen and (max-width: 375px) {

}

/* 320px */
@media only screen and (max-width: 374px) {

}
@media (max-width: 767px){
	.header.navbar .navbar-brand {
		margin-left: 0px !important;
		width: 250px !important;
	}
}
@media screen and (max-width: 767px) {
	.pagination{}
	.pagination-pages li:last-child{}
	.pagination-pages li:first-child{}
	.pagination-pages li:not(:last-child){
		display:none;
	}
	.pagination-pages li:first-child{
		display:inline;
	}
	.pagination-pages li:last-child a:before{
		content: "Next " !important;
	}
	.pagination-pages li:first-child a:before{
		content: " Previous" !important;
	}
	.pagination-pages li:first-child.disabled span:after{
		content: " Previous" !important;
	}
	.pagination-pages li.disabled{
		display:none;
	}
	table, thead, tbody, th, td, tr {
		display: block !important;
	}
	.table-responsive{
		border:0px !important;
	}
	thead tr {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}

	tr { border: 1px solid #ccc !important; }
	tbody tr{margin-top:5px !important;}

	td {
		border: none !important;
		border-bottom: 1px solid #eee !important;
		position: relative !important;
		/*padding-left: 30% !important;*/
	}

	td:before {
		/*position: absolute !important;*/
		/*top: 6px !important;*/
		/*left: 6px !important;*/
		/*width: 25% !important;*/
		padding-right: 10px !important;
		white-space: nowrap !important;
	}
	.zbase-datatable-row-toggle-copy td{
		padding-left:10px !important;
	}
	.zbase-datatable-row-toggle-copy td:before {
		content: "" !important;
	}
}
@media screen and (max-width: 767px)
{
	.flip-scroll tbody tr {
		margin-left: 0px !important;
	}
	.table-responsive {
		border: 0px solid #ddd;
	}
}