/* Responsive CSS Document */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

}

/* 1280px */
@media only screen and (max-width: 1189px) {

}

/* 1024px */
@media only screen and (max-width: 1024px) {

}


/* 960px */
@media only screen and (max-width: 960px) {

}

/* 800px */
@media only screen and (max-width: 959px) {

}

/* 750px */
@media only screen and (max-width: 799px) {

}

/* 720px */
@media only screen and (max-width: 749px) {

}

/* 640px */
@media only screen and (max-width: 719px) {


}

/* 540px */
@media only screen and (max-width: 639px) {

}

/* 480px */
@media only screen and (max-width: 539px) {

}

/* 320px */
@media only screen and (max-width: 479px) {

}

/* 375px */
@media only screen and (max-width: 375px) {

}

/* 320px */
@media only screen and (max-width: 374px) {

}

.pointer{
	cursor:pointer;
}
.zbase-widget-wrapper-datatable table > tbody tr:nth-child(even){
	background: #D9EDF7;
}
.zbase-widget-wrapper-datatable table > tbody tr:hover{
	background: #DFF0D8;
}
.form-group.has-error select,
.form-group.has-error textarea,
.form-group.has-error input{
	border-color:maroon !important;
}