/* here you can put your own css to customize and override the theme */
.zbase-ui-tab.tab-pane .treeview{
	width:50%;
}

.zbase-ui-wrapper-pageHeader{
	clear: both;
    padding-top: 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}
@media (max-width: 1400px) and (min-width: 1000px)
{
	.dashboard-stat .visual i {
		font-size: 28px;
		line-height: 28px;
	}
	.dashboard-stat .details .number {
		font-size: 25px;
	}
	.dashboard-stat .details .desc{
		font-size: 14px;
	}
}
@media (max-width: 1200px) and (min-width: 991px)
{
	.dashboard-stat .details{
		left:17px;
	}
	.dashboard-stat .details .number {
		font-size: 25px;
	}
	.dashboard-stat .details .desc{
		font-size: 14px;
	}
}